html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
	background-color: #3498db;
	color: #fff;
}

::-moz-selection {
	background-color: #3498db;
	color: #fff;
}

strong, b {
	font-weight: bold;
}

em {
	font-style: italic;
}

html {
	overflow-y: scroll;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:after, *:before {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@font-face {
	font-family: 'IcoMoon';
	src: url(https://dl.dropboxusercontent.com/u/100463011/pixelhunter/fonts/icomoon.eot);
	src: url(https://dl.dropboxusercontent.com/u/100463011/pixelhunter/fonts/icomoon.eot?#iefix) format("embedded-opentype"),
		 url(https://dl.dropboxusercontent.com/u/100463011/pixelhunter/fonts/icomoon.svg#icomoon) format("svg"),
		 url(https://dl.dropboxusercontent.com/u/100463011/pixelhunter/fonts/icomoon.woff) format("woff"),
		 url(https://dl.dropboxusercontent.com/u/100463011/pixelhunter/fonts/icomoon.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'IcoMoon';
	font-size: 18px;
	width: 1em;
	height: 1em;
	display: inline-block;
	line-height: 1;
	position: relative;
	vertical-align: middle;
	zoom: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.icon.twitter:before {
	content: '\e603';
}

.icon.github:before {
	content: '\e605';
}

.icon.dribbble:before {
	content: '\e604';
}

.icon.instagram:before {
	content: '\e602';
}

.icon.linkedin:before {
	content: '\e607';
}

.icon.skype:before {
	content: '\e606';
}

.icon.email:before {
	content: '\e601';
}

body {
	color: #292b2e;
	font: 1em/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

a, u, ins {
	text-decoration: none;
}

a {
	color: #aaa;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-ms-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

a:hover, a:focus, a:active {
	color: #777;
	text-decoration: none;
}

.header {
	background: #000;
	text-align: center;
	width: 100%;
	position: relative;
	padding: 75px 0 25px;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.header-content {
	max-width: 580px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
	z-index: 10;
}

.header-video {
	display: block;
	background-size: cover;
	background-position: center center;
	height: 700px;
	background-image: url('https://31.media.tumblr.com/c261029a58dfb2746b923df95755d69d/tumblr_nc5eo8Ps5L1svb6gso1_500.gif');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.permalink .header-video {
	background-image: url('https://31.media.tumblr.com/b53326998608762594cfc9ca3317bcf4/tumblr_mru8qbr7H41sg1fh4o1_500.gif')
}

.video-overlay {
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	opacity: 0.75;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.permalink .video-overlay {
	opacity: 0.5;
}

.blog-title {
	display: inline-block;
	font: 700 34px 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 6px 14px 10px 15px;
	border: 4px solid #fff;
	text-align: center;
}

.blog-title a {
	color: #fff;
}

.blog-tagline {
	color: #fdfdfd;
	color: rgba(253, 253, 253, 0.8);
	margin-top: 10px;
}

ul.social-links {
	margin: 45px 0 0 0;
}

ul.social-links li {
	display: inline-block;
	margin-left: 20px;
}

ul.social-links li:first-child {
	margin-left: 0;
}

ul.social-links li a {
	color: #fff;
}

ul.social-links li a:hover,
ul.social-links li a:active,
ul.social-links li a:focus {
	color: #898989;
}

.posts {
	background: #fff;
}

.post {
	width: 100%;
	padding: 50px 0 20px;
	border-bottom: 1px solid #f3f3f3;
}

.post.details {
	border-bottom: 0;
}

.post article, .pages-nav, .permalink-nav {
	max-width: 580px;
	margin: 0 auto;
}

.post article {
	padding: 0 40px;
}

.post article h3 {
	font-weight: bold;
	text-transform: uppercase;
}

.pages-nav, .permalink-nav {
	padding: 40px 20px;
}

.pages-nav a, .permalink-nav a {
	font-size: 12px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl, blockquote, p, address,
table, fieldset, figure, pre, hr,
.post article, .socials {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

h2.post-title {
	font-size: 24px;
	font-weight: 700;
}

h2.post-title a {
	color: #292b2e;
}

.post-footer {
	font-size: 12px;
	font-weight: bold;
}

.post-meta .inline,
.post-social-buttons .inline {
	display: inline-block;
}

.post-meta li,
.post-social-buttons li {
	margin-bottom: 5px;
}

.post-meta .offset,
.post-social-buttons .offset {
	margin-left: 15px;
}

.post-tags li {
	display: inline-block;
	font-size: 12px;
	margin: 0 2px;
}

.post-tags li:first-child {
	margin-left: 0;
}

.post-tags li a {
	color: #C8C8C8;
}

.post-tags li a:hover,
.post-tags li a:active,
.post-tags li a:focus {
	color: #777;
}

pre.simple-code,
code.simple-code {
	padding: 1em;
	background: #e8f2fb;
	border: 1px solid #c9e1f6;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

code.simple-code {
	padding: 0 !important;
}

.read_more_container a {
	display: inline-block;
	color: #fff;
	background: #00b5ad;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 4px 12px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.facebook, .google-plus, .twitter-share-button {
	display: inline-block;
}

.fb_iframe_widget span:first-child {
	vertical-align: baseline !important;
}
